//colors
$color_sunglow: #ffca28;
$color_patina: #579c87;
$color_bright_sun: #fdcb46;
$gold: gold;

//fonts
$font_0: Roboto;
$font_1: sans-serif;
$font_2: Montserrat;

//urls

@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap);
//header footer
header {
	background-color: $color_patina;
	text-align: center;
	color: $color_bright_sun;
	margin: 0 3rem;
	padding: 0.2rem 0;
	grid-area: header;
	font-family: $font_0, $font_1;
	font-size: 1.2rem;
	line-height: 1.2rem;
	z-index: 3;
}
footer {
	display: flex;
	max-height: 6%;
	flex-flow: row nowrap;
	justify-content: space-between;
	grid-area: footer;
	background-color: $color_patina;
	color: $color_bright_sun;
	position: sticky;
	bottom: 0;
	margin: 0 3rem;
	padding: 0 5px;
	font-family: $font_2;
	z-index: 3;
	a {
		color: $color_bright_sun;
		font-size: 0.9rem;
		text-decoration: none;
		text-align: center;
		line-height: 0.5em;
	}
}
a {
	text-decoration: none;
}
//screen mini 500px start anim
@media(min-width: 500px) {
		.footer:hover {
		animation: shake 0.5s;
		animation-iteration-count: infinite;
	}
	@-webkit-keyframes shake {
		0% {
					transform: translate(1px, 1px) rotate(0deg);
		}
		10% {
			
			transform: translate(-1px, -2px) rotate(-1deg);
		}
		20% {
			
			transform: translate(-3px, 0) rotate(1deg);
		}
		30% {
			
			transform: translate(3px, 2px) rotate(0deg);
		}
		40% {
			
						transform: translate(1px, -1px) rotate(1deg);
		}
		50% {
			
			transform: translate(-1px, 2px) rotate(-1deg);
		}
		60% {
			
			transform: translate(-3px, 1px) rotate(0deg);
		}
		70% {
			
			transform: translate(3px, 1px) rotate(-1deg);
		}
		80% {
		
			transform: translate(-1px, -1px) rotate(1deg);
		}
		90% {
			
			transform: translate(1px, 2px) rotate(0deg);
		}
		100% {
			
			transform: translate(1px, -2px) rotate(-1deg);
		}
	}
	//anim points
	.points {
		content: ".";
		animation: points 1.2s steps(5, end) infinite;
	}
	@-webkit-keyframes points {
		0% {
			color: transparent;
			
			text-shadow: 0.25em 0 0 transparent, 0.5em 0 0 transparent;
		}
		20% {
			color: transparent;
			
			text-shadow: 0.25em 0 0 transparent, 0.5em 0 0 transparent;
		}
		40% {
			color: $color_sunglow;
		
			text-shadow: 0.25em 0 0 transparent, 0.5em 0 0 transparent;
		}
		60% {
		
			text-shadow: 0.25em 0 0 $color_sunglow, 0.5em 0 0 transparent;
		}
		80% {
		
			text-shadow: 0.25em 0 0 $color_sunglow, 0.5em 0 0 $color_sunglow;
		}
		100% {
			
			text-shadow: 0.25em 0 0 $color_sunglow, 0.5em 0 0 $color_sunglow;
		}
	}
	footer a {
		color: $color_bright_sun;
		font-size: 1.3rem;
		text-decoration: none;
		position: relative;
		&:hover {
			border-bottom: 1px solid $color_bright_sun;
		}
	}

	.next:after {
		overflow: hidden;
		display: inline-block;
		vertical-align: bottom;
		animation: ellipsis steps(4, end) 900ms infinite;
		content: "";
		width: 5px;
		font-size: 1.5em;
		color: $gold;
	}
}
//media
@media(max-width: 800px) {
	header {
		width: 90vw;
		margin: auto;
	}
	footer {
		width: 90vw;
		margin: auto;
	}
}
@media(max-width: 700px) {
	footer a {
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
		align-content: space-between;
	}
}
@media(max-width: 450px) {
	header {
		background-color: $color_patina;
		text-align: center;
		color: $color_bright_sun;
		margin: 0 3rem;
		padding: 0.2rem 0;
		grid-area: header;
		font-family: $font_0, $font_1;
		font-size: 1.2rem;
		line-height: 1.2rem;
		z-index: 3;
	}
	footer {
		display: flex;
		max-height: 5%;
		flex-direction: column;
		align-items: center;
		grid-area: footer;
		background-color: $color_patina;
		color: $color_bright_sun;
		position: sticky;
		bottom: 0;
		font-family: $font_2;
	}
}
