//colors
$color_sunglow: #ffca28;
$color_white: #fff5fe;
$color_silver: #ccc;
$color_meteor: #c67412;
$color_strikemaster: #a56799;
$color_fuchsia_blue: #6e4ccc;
$black: black;

//fonts
$font_0: Courgette;
$font_1: lighter;
$font_2: Croissant One;
$font_3: cursive;

//urls
@import url(https://fonts.googleapis.com/css?family=Courgette|Croissant+One&display=swap);

//grille menu
.menu {
	display: grid;
	margin: auto;
	width: 70%;
	margin-bottom: 3rem;
	grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
	grid-template-rows: auto;
	row-gap: 5px;
	grid-template-areas: ". . . . . ." ". h3 h3 h3 h3 ." ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title " ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." ". end-title end-title end-title end-title ." ". . . . . .";
}
.prelude {
	font-family: $font_0, $font_1;
	color: $color_meteor;
	grid-area: prelude;
}
.brush-title {
	font-family: $font_0, $font_1;
	grid-area: pr-title;
	img {
		width: 22vw;
	}
}
.pr-title {
	font-family: $font_0, $font_1;
	font-weight: bold;
	color: $color_meteor;
	text-align: center;
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
}
.main-title {
	font-family: $font_0, $font_1;
	color: $color_strikemaster;
	font-weight: bold;
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
}
.orgue {
	font-family: $font_0, $font_1;
	color: $color_strikemaster;
	grid-area: main;
}
.final {
	font-family: $font_0, $font_1;
	color: $color_fuchsia_blue;
	grid-area: des;
}
.des-title {
	font-family: $font_0, $font_1;
	text-align: center;
	color: $color_fuchsia_blue;
	font-weight: bold;
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
}
h3 {
	font-weight: normal;
	font-size: 3.5rem;
}
section {
	background-color: $color_white;
	
	box-shadow: 2px 2px 3px 4px $color_silver;
	h4 {
		text-align: center;
	}
}
.entrees {
	color: $color_meteor;
}
.title {
	font-family: $font_2, $font_3;
	grid-area: h3;
	text-align: center;
}
.prix {
	font-weight: bold;
}
img {
	height: 1vw;
	margin: auto;
}

.brush-title--2 {
	grid-area: main-title;
	img {
		width: 25vw;
	}
}
.brush-title--3 {
	grid-area: des-title;
	img {
		width: 24vw;
	}
}
.legal {
	margin-left: 1rem;
}
.contact {
	margin-right: 1rem;
}
.price {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	flex: 1 1 0;
	line-height: 1.2rem;
}
//soulign
.french--underline {
	&:after {
		background: $black;
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2.5px;
		left: 50%;
				transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
		background: $color_meteor;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
.french--underlineTwo {
	&:after {
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2.5px;
		left: 50%;
		transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
		background: $color_strikemaster;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
.french--underlineThree {
	&:after {
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2.5px;
		left: 50%;
		transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
		background: $color_fuchsia_blue;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
.papilles--underline {
	&:after {
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2.5px;
		left: 50%;
		transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
.gout--underline {
	&:after {
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2.5px;
		left: 50%;
		transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
//media
@media(max-width: 935px) {
	.menu {
		width: 80%;
	}
}
@media(max-width: 600px) {
	.price {
		flex-flow: column wrap;
		p {
			text-align: center;
			margin-top: 0;
			padding: 0 1rem;
			line-height: 1.2rem;
		}
	}
	h3 {
		font-size: 1rem;
	}
}

@media(max-width: 1100px) {
	h3 {
		font-size: 2rem;
	}
}
@media(max-width: 500px) {
	body {
		margin: 0;
	}
	h3 {
		font-size: 1.5rem !important;
	}
	footer {
		font-size: 0.6em !important;
		line-height: 1.5em !important;
	}
}