//colors
$white: white;
$color_swiss_coffee: #dbd5d5;

//fonts
$font_0: Courgette;
$font_1: lighter;
$font_2: Kaushan Script;
$font_3: cursive;

//urls
@import url(https://fonts.googleapis.com/css?family=Courgette|Croissant+One|Kaushan+Script&display=swap);
//girlle menu
.menu {
	display: grid;
	margin: auto;
	width: 70%;
	margin-bottom: 3rem;
	grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
	grid-template-rows: auto;
	row-gap: 5px;
	grid-template-areas: ". . . . . ." ". h3 h3 h3 h3 ." ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title " ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." ". end-title end-title end-title end-title ." ". . . . . .";
}
.contact {
	margin-right: 1rem;
}
.price {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	flex: 1 1 0;
	line-height: 1.2rem;
}
.prelude {
	grid-area: prelude;
	font-family: $font_0, $font_1;
}
.prix {
	padding-left: 2rem;
	font-weight: bold;
}
.title {
	grid-area: h3;
	text-align: center;
	margin: 2rem 0;
}
.pr-title {
	text-align: center;
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
	font-weight: bold;
	font-family: $font_0, $font_1;
}
.orgue {
	grid-area: main;
	font-family: $font_0, $font_1;
}
.final {
	grid-area: des;
	font-family: $font_0, $font_1;
}
img {
	margin: auto;
	height: 0.8vw;
}
.brush-title {
	grid-area: pr-title;
	font-weight: bold;
	font-family: $font_0, $font_1;
	img {
		width: 22vw;
	}
}
.brush-title--2 {
	grid-area: main-title;
	img {
		width: 22vw;
	}
}
.main-title {
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
	font-weight: bold;
	font-family: $font_0, $font_1;
}
.brush-title--3 {
	grid-area: des-title;
	img {
		width: 22vw;
	}
}
.des-title {
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
	font-weight: bold;
	font-family: $font_0, $font_1;
}

@media(max-width: 600px) {
	.price {
		flex-flow: column wrap !important;
		p {
			text-align: center !important;
			margin-top: 0;
			padding: 0 1rem;
			line-height: 1.2rem;
		}
	}
}
@media(max-width: 485px) {
	.menu {
		grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . ." !important;
	}
	footer {
		font-size: 0.6em !important;
	}
	
@media(min-width: 500px) {
	@-webkit-keyframes shake {
		10% {
			
			transform: translate3d(-1px, 0, 0);
		}
		90% {
			
			transform: translate3d(-1px, 0, 0);
		}
		20% {
			
			transform: translate3d(2px, 0, 0);
		}
		80% {
			
			transform: translate3d(2px, 0, 0);
		}
		30% {
			
			transform: translate3d(-4px, 0, 0);
		}
		50% {
			
			transform: translate3d(-4px, 0, 0);
		}
		70% {
			
			transform: translate3d(-4px, 0, 0);
		}
		40% {
			
			transform: translate3d(4px, 0, 0);
		}
		60% {
			
			transform: translate3d(4px, 0, 0);
		}
	}
	@keyframes shake {
		10% {
		
			transform: translate3d(-1px, 0, 0);
			
			transform: translate3d(-1px, 0, 0);
		}
		90% {
			
			transform: translate3d(-1px, 0, 0);
			
			transform: translate3d(-1px, 0, 0);
		}
		20% {
		
			transform: translate3d(2px, 0, 0);
			
			transform: translate3d(2px, 0, 0);
		}
		80% {
			
			transform: translate3d(2px, 0, 0);
			
			transform: translate3d(2px, 0, 0);
		}
		30% {
			
			transform: translate3d(-4px, 0, 0);
		
				transform: translate3d(-4px, 0, 0);
		}
		50% {
		
			transform: translate3d(-4px, 0, 0);
			
			transform: translate3d(-4px, 0, 0);
		}
		70% {
		
			transform: translate3d(-4px, 0, 0);
		
			}
		40% {
			
			transform: translate3d(4px, 0, 0);
			
		}
		60% {
	
			transform: translate3d(4px, 0, 0);
		}
	}
	.mentions:hover {
		animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		
		transform: translate3d(0, 0, 0);
		
		backface-visibility: hidden;

		perspective: 1000px;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
	.index:hover {
		animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		
		transform: translate3d(0, 0, 0);
	
		backface-visibility: hidden;
		perspective: 1000px;
		animation-iteration-count: infinite;
	}
	.contact:hover {
		animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		
		transform: translate3d(0, 0, 0);
		
		backface-visibility: hidden;
		
		perspective: 1000px;
		animation-iteration-count: infinite;
	}
}
.gout--underline {
	&:after {
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2.5px;
		left: 50%;
		
		transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
.mentions--underline {
	&:after {
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2.5px;
		left: 50%;
		
		transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
@media(max-width: 1270px) {
	h3 {
		font-size: 4.5rem;
	}
}
@media(max-width: 450px) {
	body {
		margin: 0;
	}
	h3 {
		font-size: 2.5rem;
	}
}
h3 {
	font-weight: normal;
	font-family: $font_2, $font_3;
	font-size: 3rem;
	margin: 1rem 0;
}
section {
	background-color: $white;
	
	box-shadow: 2px 2px 3px 4px $color_swiss_coffee;
}