//colors
$color_sunglow_approx: #ffca28;
$black: black;
$color_pippin_approx: #ffe2e2;
$color_silver_approx: #ccc;

//fonts
$font_0: Courgette;
$font_1: cursive;
$font_2: Devonshire;

//urls
@import url(https://fonts.googleapis.com/css?family=Courgette|Devonshire&display=swap);

//grille
.menu {
	display: grid;
	margin: auto;
	width: 70%;
	margin-bottom: 3rem;
	grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
	grid-template-rows: auto;
	row-gap: 5px;
	grid-template-areas: ". . . . . ." ". h3 h3 h3 h3 ." ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title " ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." ". end-title end-title end-title end-title ." ". . . . . .";
}
.mentions {
	margin-left: 1rem;
	&:hover {
		animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		
		transform: translate3d(0, 0, 0);
		
		backface-visibility: hidden;
		perspective: 1000px;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}
.contact {
	margin-right: 1rem;
	&:hover {
		animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		animation-iteration-count: infinite;
	}
}
.title {
	grid-area: h3;
	text-align: center;
	font-family: $font_2, $font_1;
	img {
		width: 4em;
	}
	h3 {
		font-size: 3rem;
	}
}
h3 {
	margin: 20px;
	font-weight: normal;
	font-size: 2rem;
	line-height: 0;
}
.price {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	flex: 1 1 0;
	line-height: 1.2rem;
	padding-left: 2rem;
}
.prelude {
	grid-area: prelude;
	font-family: $font_0, $font_1;
	font-weight: lighter;
}
section {
	background-color: $color_pippin_approx;
	box-shadow: 2px 2px 3px 4px $color_silver_approx;
	h4 {
		text-align: center;
		font-size: 1.3rem;
		font-family: $font_0, $font_1;
		font-weight: lighter;
	}
}
.pr-title {
	text-align: center;
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
	font-weight: bold;
	font-family: $font_0, $font_1;
	font-weight: lighter;
}
.orgue {
	grid-area: main;
	font-family: $font_0, $font_1;
	font-weight: lighter;
}
.final {
	grid-area: des;
	font-family: $font_0, $font_1;
	font-weight: lighter;
}
.brush-title {
	grid-area: pr-title;
	img {
		width: 29vw;
	}
}
.brush-title--2 {
	grid-area: main-title;
	img {
		width: 26vw;
	}
}
.main-title {
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
	font-weight: bold;
	font-family: $font_0, $font_1;
	font-weight: lighter;
}
.brush-title--3 {
	grid-area: des-title;
	img {
		width: 25vw;
	}
}
.des-title {
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
	font-weight: bold;
	font-family: $font_0, $font_1;
	font-weight: lighter;
}
//anim wiggle
@-webkit-keyframes shake {
	10% {
		
		transform: translate3d(-1px, 0, 0);
	}
	90% {
		
		transform: translate3d(-1px, 0, 0);
	}
	20% {
		
		transform: translate3d(2px, 0, 0);
	}
	80% {
		
		transform: translate3d(2px, 0, 0);
	}
	30% {
		
		transform: translate3d(-4px, 0, 0);
	}
	50% {
		
		transform: translate3d(-4px, 0, 0);
	}
	70% {
		
		transform: translate3d(-4px, 0, 0);
	}
	40% {
		
		transform: translate3d(4px, 0, 0);
	}
	60% {
		
		transform: translate3d(4px, 0, 0);
	}
}
@keyframes shake {
	10% {
		
		transform: translate3d(-1px, 0, 0);
		
		transform: translate3d(-1px, 0, 0);
	}
	90% {
		
		transform: translate3d(-1px, 0, 0);
		
		transform: translate3d(-1px, 0, 0);
	}
	20% {
		
		transform: translate3d(2px, 0, 0);
		
		transform: translate3d(2px, 0, 0);
	}
	80% {
	
		transform: translate3d(2px, 0, 0);
	
		transform: translate3d(2px, 0, 0);
	}
	30% {
		
		transform: translate3d(-4px, 0, 0);
		
		transform: translate3d(-4px, 0, 0);
	}
	50% {
		
		transform: translate3d(-4px, 0, 0);
		
		transform: translate3d(-4px, 0, 0);
	}
	70% {
		
		transform: translate3d(-4px, 0, 0);
	
		transform: translate3d(-4px, 0, 0);
	}
	40% {
		
		transform: translate3d(4px, 0, 0);
		
	}
	60% {
		
		transform: translate3d(4px, 0, 0);
	}
}
//souligne
.enchanted--underline {
	&:after {
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		background: $black;
		
		transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
//media
@media(max-width: 935px) {
	.menu {
		width: 80% !important;
	}
}
@media(max-width: 600px) {
	.menu--info_price {
		flex-flow: column wrap !important;
		p {
			text-align: center !important;
			margin-top: 0;
			padding: 0 1rem;
			line-height: 1.2rem;
		}
	}
	.prix {
		margin-bottom: 2rem;
	}
}
@media(max-width: 485px) {
	.menu {
		grid-template-areas: ". . . . . ." "h3 h3 h3 h3 h3 h3" ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title" ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." "end-title end-title end-title end-title end-title end-title" ". . . . . .";
	}
	
@media(max-width: 500px) {
	body {
		margin: 0;
	}
	h3 {
		font-size: 1.5rem !important;
	}
	footer {
		font-size: 0.6em;
		line-height: 1.5em;
	}
}
h2 {
	text-align: center;
	font-weight: bold;
	font-size: 1.6rem;
	grid-area: h2;
}
.prix {
	font-weight: bold;
}
.end-title {
	grid-area: end-title;
	text-align: center;
	font-family: $font_2, $font_1;
	img {
		width: 3em;
	}
}
@media(max-width: 750px) {
h4 img {
	margin: auto;
	height: 1vw;
}
.index:hover {
	animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	
	transform: translate3d(0, 0, 0);
	
	backface-visibility: hidden;
	
	perspective: 1000px;
	animation-iteration-count: infinite;
}
.icon:before {
}