//colors
$color_black: #edefef;
$color_silver: #ccc;

//fonts
$font_0: Courgette;
$font_1: lighter;
$font_2: Alex Brush;
$font_3: cursive;

//urls
@import url(https://fonts.googleapis.com/css?family=Alex+Brush|Courgette|Croissant+One&display=swap);

@media(max-width: 935px) {
	.menu {
		width: 80% !important;
	}
}
//grille menu
.menu {
	display: grid;
	margin: auto;
	width: 70%;
	margin-bottom: 3rem;
	grid-template-columns: 1fr 3.5fr 4fr 3fr 1fr 1fr;
	grid-template-rows: auto;
	row-gap: 5px;
	grid-template-areas: ". . . . . ." ". h3 h3 h3 h3 ." ". . . . . ." "pr-title pr-title pr-title pr-title pr-title pr-title " ". prelude prelude prelude prelude ." ". . . . . ." "main-title main-title main-title main-title main-title main-title" ". main main main main ." ". . . . . ." "des-title des-title des-title des-title des-title des-title" ". des des des des ." ". . . . . ." ". end-title end-title end-title end-title ." ". . . . . .";
}
.mentions {
	margin-left: 1rem;
}
.contact {
	margin-right: 1rem;
	&:hover {
		animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		
		transform: translate3d(0, 0, 0);
		
		backface-visibility: hidden;
		
		perspective: 1000px;
		animation-iteration-count: infinite;
	}
}
.price {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	flex: 1 1 0;
	line-height: 1.2rem;
}
.prelude {
	grid-area: prelude;
	font-family: $font_0, $font_1;
}
.title {
	grid-area: h3;
	text-align: center;
	margin: 1rem 0;
}
section {
	background-color: $color_black;
	
	box-shadow: 2px 2px 3px 4px $color_silver;
	h4 {
		text-align: center;
		font-family: $font_0, $font_1;
	}
}
.pr-title {
	text-align: center;
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
	font-family: $font_0, $font_1;
}
.orgue {
	grid-area: main;
	font-family: $font_0, $font_1;
}
.final {
	grid-area: des;
	font-family: $font_0, $font_1;
}
img {
	margin: auto;
	height: 0.8vw;
}
.brush-title {
	grid-area: pr-title;
	img {
		width: 22vw;
	}
}
.brush-title--2 {
	grid-area: main-title;
	img {
		width: 22vw;
	}
}
.main-title {
	display: flex;
	flex-grow: 1;
	grid-area: main-title;
	align-content: center;
	font-family: $font_0, $font_1;
}
.brush-title--3 {
	grid-area: des-title;
	img {
		width: 22vw;
	}
}
.des-title {
	display: flex;
	flex-grow: 1;
	grid-area: pr-title;
	align-content: center;
	font-family: $font_0, $font_1;
}

	@media(max-width: 500px) {
		body {
			margin: 0;
		}
		h3 {
			font-size: 1.5rem !important;
		}
		footer {
			font-size: 0.6em !important;
			line-height: 1.5em;
		}
	}
	h3 {
		font-size: 2.7rem;
	}

//anim wiggle
@-webkit-keyframes shake {
	10% {
		
		transform: translate3d(-1px, 0, 0);
	}
	90% {
		
		transform: translate3d(-1px, 0, 0);
	}
	20% {
		
		transform: translate3d(2px, 0, 0);
	}
	80% {
		
		transform: translate3d(2px, 0, 0);
	}
	30% {
		
		transform: translate3d(-4px, 0, 0);
	}
	50% {
		
		transform: translate3d(-4px, 0, 0);
	}
	70% {
	
		transform: translate3d(-4px, 0, 0);
	}
	40% {
		
		transform: translate3d(4px, 0, 0);
	}
	60% {
		
		transform: translate3d(4px, 0, 0);
	}
}
@keyframes shake {
	10% {
		
		transform: translate3d(-1px, 0, 0);
	
	}
	90% {
		
		transform: translate3d(-1px, 0, 0);
	}
	20% {
		
		transform: translate3d(2px, 0, 0);
	}
	80% {
		
		transform: translate3d(2px, 0, 0);
	}
	30% {
		
		transform: translate3d(-4px, 0, 0);
	}
	50% {
		
		transform: translate3d(-4px, 0, 0);
	}
	70% {
		
		transform: translate3d(-4px, 0, 0);
	}
	40% {
		
		transform: translate3d(4px, 0, 0);
	}
	60% {
		
		transform: translate3d(4px, 0, 0);
	}
}
.papilles--underline {
	&:after {
		background: none repeat scroll 0 0 transparent;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		
		transition: width 0.6s ease 0s, left 0.6s ease 0s;
		width: 0;
	}
	&:hover:after {
		width: 100%;
		left: 0;
	}
}
//medias
@media(max-width: 1120px) {
	h3 {
		font-size: 4.8rem;
	}
}
@media(max-width: 450px) {
	body {
		margin: 0.5rem;
	}
}
h3 {
	font-weight: normal;
	font-size: 6rem;
	font-family: $font_2, $font_3;
	margin: 0;
}
h4 {
	font-weight: normal;
	font-size: 1.2rem;
}
.legal:hover {
	animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	
	backface-visibility: hidden;

	perspective: 1000px;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.index:hover {
	animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	
	transform: translate3d(0, 0, 0);

	backface-visibility: hidden;
	animation-iteration-count: infinite;
}